%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #242424;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  a {
    color: white;
    text-decoration: none;
    font: 1em "Barlow", sans-serif;
  }
}

.App-body {
  background-color: #e8e6e5;
  height: 90vh;
  @extend %flex-center;
}
.App-footer {
  height: 5vh;
  background-color: #242424;
  @extend %flex-center;
  color: #fdfdfd;
}

.app-card  {
  @extend %flex-center;
  width: 150px;
  height: 450px;
  margin: 10px;
  background-color: rgb(36, 36, 36);
  border: none;
  border-radius: 10px;
  color: #e5e5e5;
  text-decoration: none;
}

.weather-body {
  background-color: #85a59e;
  height: 90vh;
  @extend %flex-center;
  flex-direction: column;
}

.weather-input {
  background: transparent;
  width: 300px;
  height: 40px;
  padding: 0 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
  border-radius: 5px;
  font: 400 1.2em "Barlow", sans-serif;
  color: #242424;
  transition: all 0.2s;
  &:focus {
    background: rgba(49, 49, 49, 0.1);
    border: none;
    outline:none;
  }
}

.weather {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(36, 36, 36, 0.1);
  backdrop-filter: blur(20px) brightness(97%) grayscale(12%);
  margin-top: 20px;
  padding: 10px 20px;
  transition: all 0.2s;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 20px;
}

.weather-city {
  font: 400 2.5em "Barlow", sans-serif;
  margin: 5px;
  color: rgba(36, 36, 36, 0.85);
}

.weather-date {
  font: 400 1.8em "Lato", sans-serif;
  margin: 5px;
  color: rgba(36, 36, 36, 0.85);
}

.weather-temp {
  font: 700 4em "Barlow", sans-serif;
  margin: 20px 5px;
  color: rgba(36, 36, 36, 0.85);
}

.weather-icon {
  width: 50%;
  @extend %flex-center;
  img {
    position: relative;
    top: 0;
    left: 0;
    filter: drop-shadow(0.5rem 0.9rem 0.2rem rgba(0, 0, 0, 0.5));
  }
}

.crypto-body {
  @extend %flex-center;
  background-color: #a385a5;
  height: 90vh;
}

.crypto-wrapper {
  @extend %flex-center;
  width: 30%;
  flex-wrap: wrap;

}

.crypto-card {
  width: 3em;
  height: 3em;
  @extend %flex-center;
  flex-wrap: wrap;
  background: #f19305;
  margin: 5px;
  border: 3px solid #212121;
  border-radius: 3px;
  font: 400 2em "Barlow", sans-serif;
  color: #e5e5e5;
}